//colores

$color-principal: #991F36;
$font-color-principal: #000;
$font-color-secondary: #fff;
$background-color-one: #e6e6e6;
$background-color-two: #E5DDD4;

//font size

$font-small: 14px;
$font-medium: 16px;
$font-large: 30px;
$font-xl: 40px;

