html {
    font-family: 'Montserrat', sans-serif;
}

nav {
    ul {
        list-style: none;
        list-style-type: none;

        li {

            a {
                font-family: 'Montserrat', sans-serif;
                text-decoration: none;
                color: $font-color-principal;
            }

            a:hover {
                color: #fff !important;
                background-color: $color-principal;

            }
        }
    }
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: $font-small;
    font-weight: 400;
}

section {
    padding-bottom: 45px;
    padding-top: 65px;

    h1 {
        font-family: 'Montserrat', sans-serif;
        font-size: $font-xl;
        font-weight: 600;
        padding-bottom: 25px;
    }

    h2 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: $font-large;
        padding-bottom: 25px;
    }

    h3 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: $font-medium;
    }

    .card {
        margin-bottom: 45px;

        img:hover {
            transform: scale(103%);
        }
    }

    form {
        align-content: center;
        padding-left: 40px;
    }
}

iframe {
    padding-left: 40px;
}

.footer {
    background-color: $font-color-principal;
    display: flex;
    justify-content: center;

    nav {
        ul {
            display: flex;
            justify-content: center;
            padding-left: 0px;
            padding-top: 15px;

            li {
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    }

    p {
        color: $font-color-secondary;
        justify-content: center !important;
        margin-left: auto;
        margin-right: auto;
    }
}

input {
    font-family: 'Montserrat', sans-serif;
}

textarea {
    font-family: 'Montserrat', sans-serif;
    resize: none;
}